@page "/Account/Edit/"

@using CommonLib.Web.Source.Common.Utils.UtilClasses
@using CommonLib.Web.Source.Common.Converters
@using CommonLib.Web.Source.ViewModels.Account
@inherits EditBase

@if (HasAuthenticationStatus(AuthStatus.NotAuthenticated)) // show nothing if null, not checked
{
    <div class="no-page-error">You need to be logged in to access this page</div>
}
else if (HasAuthenticationStatus(AuthStatus.Authenticated))
{
    <div class="my-col-sm-auto my-col-12" style="background: #101010;">
        <MyEditForm @ref="_editForm" EditContext="_editContext" class="my-container">
            <MyFluentValidator @ref="_validator" />
            <div class="my-row">
                <div class="my-col-12">
                    <h3>Edit</h3>
                    <hr class="my-mt-10px" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _editUserVM.Id)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyTextInput For="@(() => _editUserVM.IdString)" SyncPaddingGroup="edit-panel" @ref="_txtId" State="_bpTxtIdState" ForceState="true">
                        <MyInputGroupPrepend>
                            <MyIcon IconType="IconType.From(LightIconType.IdBadge)"></MyIcon>
                        </MyInputGroupPrepend>
                    </MyTextInput>
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _editUserVM.Id)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _editUserVM.UserName)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyTextInput For="@(() => _editUserVM.UserName)" SyncPaddingGroup="edit-panel" @ref="_txtUserName" State="_bpTxtUserNameState">
                        <MyInputGroupPrepend>
                            <MyIcon IconType="IconType.From(LightIconType.User)"></MyIcon>
                        </MyInputGroupPrepend>
                    </MyTextInput>
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _editUserVM.UserName)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _editUserVM.Email)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyTextInput For="@(() => _editUserVM.Email)" SyncPaddingGroup="edit-panel" @ref="_txtEmail" State="_bpTxtEmailState">
                        <MyInputGroupPrepend>
                            <MyIcon IconType="IconType.From(LightIconType.Envelope)"></MyIcon>
                        </MyInputGroupPrepend>
                    </MyTextInput>
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _editUserVM.Email)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _editUserVM.OldPassword)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyPasswordInput For="@(() => _editUserVM.OldPassword)" SyncPaddingGroup="edit-panel" @ref="_pwdOldPassword" State="_bpPwdOldPasswordState" />
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _editUserVM.OldPassword)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _editUserVM.NewPassword)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyPasswordInput For="@(() => _editUserVM.NewPassword)" SyncPaddingGroup="edit-panel" @ref="_pwdNewPassword" State="_bpPwdNewPasswordState" />
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _editUserVM.NewPassword)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _editUserVM.ConfirmNewPassword)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyPasswordInput For="@(() => _editUserVM.ConfirmNewPassword)" SyncPaddingGroup="edit-panel" @ref="_pwdConfirmNewPassword" State="_bpPwdConfirmNewPasswordState" />
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _editUserVM.ConfirmNewPassword)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-10 my-col-lg-9 my-col-sm-6 my-col-12 my-offset-xl-2 my-offset-lg-3 my-offset-sm-6">
                    <MyButton Value="@("Save Profile".ToBp())" SubmitsForm="true" OnClick="BtnSubmit_ClickAsync" Icon="IconType.From(LightIconType.Save)" Styling="ButtonStyling.Primary" Sizing="ButtonSizing.Auto" State="@_bpBtnSaveState" IconPlacement="ButtonIconPlacement.Right" class="my-btn-save" @ref="_btnSave" />
                </div>
            </div>
        </MyEditForm>
    </div>
}