@page "/Account/ResetPassword/"

@using CommonLib.Web.Source.Common.Utils.UtilClasses
@using CommonLib.Web.Source.Common.Components.MyInputComponent
@using CommonLib.Web.Source.Common.Converters
@using CommonLib.Source.Common.Utils.UtilClasses

@inherits ResetPasswordBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="my-col-sm-auto my-col-12" style="background: #101010;">
        <MyEditForm @ref="_editForm" EditContext="_editContext" OnValidSubmit="@FormResetPassword_ValidSubmitAsync" class="my-container">
            <MyFluentValidator @ref="_validator" />
            <div class="my-row">
                <div class="my-col-12">
                    <h3>Reset Password</h3>
                    <hr class="my-mt-10px" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _resetPasswordUserVM.UserName)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyTextInput InteractivityState="ComponentState.ForceDisabled" For="@(() => _resetPasswordUserVM.UserName)" SyncPaddingGroup="reset-password-panel">
                        <MyInputGroupPrepend>
                            <MyIcon IconType="IconType.From(LightIconType.User)"></MyIcon>
                        </MyInputGroupPrepend>
                    </MyTextInput>
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _resetPasswordUserVM.UserName)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _resetPasswordUserVM.Email)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyTextInput For="@(() => _resetPasswordUserVM.Email)" SyncPaddingGroup="reset-password-panel">
                        <MyInputGroupPrepend>
                            <MyIcon IconType="IconType.From(LightIconType.Envelope)"></MyIcon>
                        </MyInputGroupPrepend>
                    </MyTextInput>
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _resetPasswordUserVM.Email)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _resetPasswordUserVM.ResetPasswordCode)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyTextInput For="@(() => _resetPasswordUserVM.ResetPasswordCode)" SyncPaddingGroup="reset-password-panel">
                        <MyInputGroupPrepend>
                            <MyIcon IconType="IconType.From(LightIconType.Key)"></MyIcon>
                        </MyInputGroupPrepend>
                    </MyTextInput>
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _resetPasswordUserVM.ResetPasswordCode)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _resetPasswordUserVM.Password)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyPasswordInput For="@(() => _resetPasswordUserVM.Password)" SyncPaddingGroup="reset-password-panel" />
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _resetPasswordUserVM.Password)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-2 my-col-lg-3 my-col-sm-6 my-col-12">
                    <MyLabel For="@(() => _resetPasswordUserVM.ConfirmPassword)" Align="@HorizontalAlignment.Right" />
                </div>
                <div class="my-col-xl-3 my-col-lg-4 my-col-sm-6 my-col-12">
                    <MyPasswordInput For="@(() => _resetPasswordUserVM.ConfirmPassword)" SyncPaddingGroup="reset-password-panel" />
                </div>
                <div class="my-col-xl-7 my-col-lg-5 my-col-12 my-d-none-if-empty">
                    <MyValidationMessage For="@(() => _resetPasswordUserVM.ConfirmPassword)" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-10 my-col-lg-9 my-col-sm-6 my-col-12 my-offset-xl-2 my-offset-lg-3 my-offset-sm-6">
                    <MyButton Value="@("Change Password".ToBp())" SubmitsForm="true" OnClick="BtnSubmit_ClickAsync" Icon="IconType.From(LightIconType.CheckCircle)" Styling="ButtonStyling.Primary" Sizing="ButtonSizing.Auto" InteractivityState="_bpBtnResetPasswordState" IconPlacement="ButtonIconPlacement.Right" class="my-btn-reset-password" />
                </div>
            </div>
            <div class="my-row">
                <div class="my-col-xl-10 my-col-lg-9 my-col-sm-6 my-col-12 my-offset-xl-2 my-offset-lg-3 my-offset-sm-6">
                    <MyNavLink To="@($"~/Account/ForgotPassword?{GetNavQueryStrings()}")" Icon="IconType.From(LightIconType.EnvelopeOpen)" IconPlacement="NavLinkIconPlacement.Right">I don't have Reset Password code yet</MyNavLink>
                </div>
            </div>
        </MyEditForm>
    </div>

</CascadingValue>