@using CommonLib.Source.Common.Converters
@using CommonLib.Source.Common.Extensions

@namespace CommonLib.Web.Source.Common.Components.MyIconComponent
@inherits MyIconBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    @if (IconType != null)
    {
        <div class="@_renderClasses" @onclick="@PrintAndClickCallbackAsync" style="@_renderStyle" @attributes="@_renderAttributes">
            <svg xmlns="@_svgXmlns" viewBox="@_svgViewBox" style="@_renderSvgStyle">
                <path d="@_dPath" style="fill: @(_disabled ? "#404040" : Color switch { null => "white", "none" => "", _ => Color })"></path>
            </svg>
        </div>
    }

</CascadingValue>
