@using CommonLib.Source.Common.Converters
@using CommonLib.Source.Common.Extensions
@using CommonLib.Source.Common.Utils.UtilClasses
@using CommonLib.Web.Source.Common.Converters

@namespace CommonLib.Web.Source.Common.Components.MyIconComponent
@inherits MyIconBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    @if (IconType != null)
    {
        @*if (this is MyIconBase icon2 && icon2.IconType.V.LightIcon?.EnumToString().Contains("BasketballBall") == true)
        {
            Logger.For<MyIconBase>().Info($"RENDER: {this}, {icon2.IconType.V.LightIcon.EnumToString()}: {InteractionState.V.State.EnumToString()}");
        }*@

        <div class="@_renderClasses" style="@_renderStyle" @attributes="@_renderAttributes" @onclick="@Icon_ClickAsync">
            @Svg.ToRenderFragment()
        </div>
    }

</CascadingValue>
