@namespace CommonLib.Web.Source.Common.Components.MyProgressBarComponent
@inherits CommonLib.Web.Source.Common.Components.MyProgressBarComponent.MyProgressBarBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">
    
    <div id="@_id" my-guid="@_guid" class="@_renderClasses" style="@_renderStyle" @attributes="@_renderAttributes">
        <div class="progress" style="width: @Value%"></div>
        <div class="progress-description">@Description.V</div>
        <div class="progress-value">@Value%</div>
    </div>

</CascadingValue>