@using CommonLib.Web.Source.Common.Utils.UtilClasses
@using CommonLib.Web.Source.Common.Converters
@using CommonLib.Source.Common.Utils.UtilClasses
@using CommonLib.Web.Source.Models
@using SixLabors.ImageSharp

@namespace CommonLib.Web.Source.Common.Components.MyDropDownComponent
@inherits MyDropDownBase<TProperty>
@typeparam TProperty

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">
<CascadingValue Value="InteractivityState" Name="CascadingInteractivity">

    <MyInputGroup @ref="_inputGroup" class="my-dropdown-input-group">
        <div id="@_id" my-guid="@Guid" class="@_renderClasses" style="@_renderStyle" @attributes="@_renderAttributes">
            <div class="my-dropdown-value-and-icon-container" tabindex="0">
                @if (SelectedItem != null)
                {
                    <div class="my-dropdown-value" value="@SelectedItem.V?.Index">@SelectedItem.V?.Text</div>
                }
            </div>
            <ul class="my-dropdown-options-container">
                @if (EmptyItem.HasValue())
                {
                    <li @key=@EmptyItem.V class="my-dropdown-option" value="@(EmptyItem.V.Index?.ToString() ?? "")">@EmptyItem.V.Text</li>
                }
                @if (_ddlItems is not null && _ddlItems.Any())
                {
                    @foreach (var item in _ddlItems.Where(i => i.Text != "None"))
                    {
                        <li @key=@item class="my-dropdown-option" value="@item.Index">@item.Text</li>
                    }
                }
                @ChildContent
            </ul>
        </div>
        <MyInputGroupPrepend>
            <MyIcon Color="Color.White" IconType="Icon.V"></MyIcon>
        </MyInputGroupPrepend>
        <MyInputGroupAppend>
            <MyIcon Color="Color.White" IconType="IconType.From(LightIconType.ChevronDown)" SizeMode="@(new BlazorParameter<IconSizeMode?>(IconSizeMode.Contain))" class="my-dropdown-open-icon" />
            <MyIcon Color="Color.White" IconType="IconType.From(LightIconType.ChevronUp)" SizeMode="@(new BlazorParameter<IconSizeMode?>(IconSizeMode.Contain))" class="my-dropdown-close-icon" style="display: none" />
        </MyInputGroupAppend>
    </MyInputGroup>

</CascadingValue>
</CascadingValue>