@namespace CommonLib.Web.Source.Common.Components.MyInputGroupComponent
@inherits MyInputGroupBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div id="@_id" my-guid="@_guid" class="@_renderClasses" style="@_renderStyle" @attributes="@_renderAttributes">
        @ChildContent
    </div>

</CascadingValue>
