@page "/Admin/Users/"

@using CommonLib.Web.Source.ViewModels.Account
@using CommonLib.Source.Common.Utils.UtilClasses
@using CommonLib.Web.Source.Common.Components.MyInputComponent
@using CommonLib.Web.Source.Common.Converters
@using CommonLib.Web.Source.Common.Utils.UtilClasses
@using CommonLib.Source.Common.Converters
@using static CommonLib.Web.Source.Common.Components.StylesConfig;
@using static CommonLib.Web.Source.Models.BlazorParameter;
@using System.Threading

@inherits ListUsersBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    @if (HasAuthenticationStatus(AuthStatus.NotChecked))
    {
        <div class="no-page-error">
            <div class="spinner-container">
                <div class="spinner"></div>
                <div class="spinner-message">Authorizing...</div>
            </div>
        </div>
    }
    else if (!IsAuthorized) // show nothing if null, not checked
    {
        <div class="no-page-error">You are not authorized to access this page</div>
    }
    else if (IsAuthorized && !_users.Any())
    {
        <div class="no-page-error">
            <div class="spinner-container">
                <div class="spinner"></div>
                <div class="spinner-message">Loading Users...</div>
            </div>
        </div>
    }
    else if (IsAuthorized)
    {
        <MyModal @ref="_modalConfirmDeletingUser" Hide="@(BP<MyModalBase, EventArgs>(Modal_HideAsync))" class="my-modal-delete-user">
            <MyModalBody>
                <MyCssGrid Padding="Gutter.Px()" Gap="Gutter.Px()" Template="@(new CssGridLayout("repeat(4, 3fr)", "repeat(auto-fit, minmax(0, max-content))"))">
                    <MyCssGridItem Area="CssGridArea.C1SpanAll">
                        <div class="delete-user-message">@_deleteMessage</div>
                    </MyCssGridItem>
                    <MyCssGridItem Area="CssGridArea.C2">
                        <MyButton Value="@BP("Delete")" Click="BtnConfirmUserDelete_ClickAsync" Icon="IconType.From(LightIconType.TrashCan)" Styling="ButtonStyling.Danger" Sizing="ButtonSizing.Fill" IconPlacement="ButtonIconPlacement.Right" class="my-btn-confirm-delete-user" />
                    </MyCssGridItem>
                    <MyCssGridItem Area="CssGridArea.C3">
                        <MyButton Value="@BP("Cancel")" Icon="IconType.From(LightIconType.Ban)" Styling="ButtonStyling.Secondary" Sizing="ButtonSizing.Fill" IconPlacement="ButtonIconPlacement.Right" class="my-btn-confirm-cancel-deleting-user my-close" />
                    </MyCssGridItem>
                </MyCssGrid>
            </MyModalBody>
        </MyModal>

        <MyEditForm @ref="_editForm" EditContext="_editContext" style="margin: 0 5px 5px 5px;">
            <MyCssGrid Padding="Gutter.Px()" Gap="Gutter.Px()"
                   XLTemplate="@(new CssGridLayout("repeat(4, 3fr)", "repeat(auto-fit, minmax(0, max-content))"))"
                   LGTemplate="@(new CssGridLayout("repeat(3, 4fr)", "repeat(auto-fit, minmax(0, max-content))"))"
                   SMTemplate="@(new CssGridLayout("repeat(2, 6fr)", "repeat(auto-fit, minmax(0, max-content))"))"
                   Template="@(new CssGridLayout("12fr", "repeat(auto-fit, minmax(0, max-content))"))"
                   style="background: #101010;">

                <MyCssGridItem Area="CssGridArea.C1SpanAll" Gap="CssGridAreaGap.OnlyBottom((-Gutter).Px())">
                    <h3>Administrate Users</h3>
                    <hr class="my-mt-10px" />
                </MyCssGridItem>

                <MyCssGridItem Area="CssGridArea.C1SpanAll">
                    <MyCssGrid Gap="Gutter.Px()"
                           Template="@(new CssGridLayout("1fr", "auto"))"
                           LGTemplate="@(new CssGridLayout("max-content", "auto"))">
                        <MyCssGridItem>
                            <MyButton Value="@BP("Add User")" SubmitsForm="true" Click="BtnAddUser_ClickAsync" Icon="IconType.From(LightIconType.PlusLarge)" Styling="ButtonStyling.Primary" Sizing="ButtonSizing.Fill" IconPlacement="ButtonIconPlacement.Right" class="my-btn-add-user" />
                        </MyCssGridItem>
                    </MyCssGrid>
                </MyCssGridItem>

                @if (!_users.Any())
                {
                    <MyCssGridItem Area="CssGridArea.C1SpanAll">
                        <div class="no-page-error">&lt; No Users &gt;</div>
                    </MyCssGridItem>
                }
                else
                {
                    foreach (var user in _users.OrderBy(r => r.UserName)) // use @key
                    {
                        <MyCssGridItem @key=user>
                            <MyCard>
                                <MyCardHeader>@user.UserName</MyCardHeader>
                                <MyCardBody class="admin-users-list-card-body">
                                    <div class="admin-users-list-user-avatar-container">
                                        @if (user.Avatar is null)
                                        {
                                            <MyIcon IconType="IconType.From(LightIconType.User)" Color="blue" SizeMode="@IconSizeMode.Contain" class="admin-users-list-user-no-avatar"></MyIcon>
                                        }
                                        else 
                                        {
                                            <MyImage Path="user.Avatar"></MyImage>
                                        }
                                    </div>
                                    <div class="admin-users-list-user-properties-container">
                                        <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; color: orange">Id:</span>
                                        <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block">@user.Id</span>
                                        <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; color: orange">Email:</span>
                                        <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block">@user.Email</span>
                                    </div>
                                    <div class="admin-users-list-user-roles-container">
                                        <span class="my-mb-10px" style="color: blue; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;">Roles:</span>
                                        @if (!user.Roles.Any())
                                        {
                                            <span class="my-ml-10px" style="color: #ff3333; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;">&lt; No Roles &gt;</span>
                                        }
                                        else
                                        {
                                            <div class="my-ml-10px" style="display: flex; flex-wrap: wrap; gap: 10px">
                                                @foreach (var role in user.Roles.OrderBy(r => r.Name))
                                                {
                                                    <MyBadge Badge="@BadgeKind.Primary">@role</MyBadge>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="admin-users-list-user-claims-container">
                                        <span class="my-mb-10px" style="color: green; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;">Claims:</span>
                                        @if (!user.Claims.Any())
                                        {
                                            <span class="my-ml-10px" style="color: #ff3333; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;">&lt; No Claims &gt;</span>
                                        }
                                        else
                                        {
                                            <div class="my-ml-10px" style="display: flex; flex-wrap: wrap; gap: 10px">
                                                @foreach (var claim in user.Claims.OrderBy(c => c.Name))
                                                {
                                                    <MyBadge Badge="@BadgeKind.Info">@claim</MyBadge>
                                                }
                                            </div>
                                        }
                                    </div>
                                </MyCardBody>
                                <MyCardActions>
                                    <MyButton Value="@BP("Edit")" Click="@((s, e, t) => BtnEditUser_ClickAsync(s, e, t, user))" Icon="IconType.From(LightIconType.Edit)" Styling="ButtonStyling.Primary" Sizing="ButtonSizing.Fill" IconPlacement="ButtonIconPlacement.Right" class="my-btn-edit-user" />
                                    <MyButton Value="@BP("Delete")" Click="@((s, e, t) => BtnDeleteUser_ClickAsync(s, e, t, user))" Icon="IconType.From(LightIconType.TrashCan)" Styling="ButtonStyling.Danger" Sizing="ButtonSizing.Fill" IconPlacement="ButtonIconPlacement.Right" class="my-btn-delete-user" />
                                </MyCardActions>
                            </MyCard>
                        </MyCssGridItem>
                    }
                }
                
            </MyCssGrid>
        </MyEditForm>
    }

</CascadingValue>