@namespace CommonLib.Web.Source.Common.Components.MyPromptComponent
@inherits MyBadgeBase

<div id="@_id" 
     my-guid="@_guid"
     class="@_renderClasses"
     style="@_renderStyle"
     @attributes="@_renderAttributes">
     @ChildContent
</div>