@namespace CommonLib.Web.Source.Common.Components.MyBadgeComponent
@inherits MyBadgeBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div id="@_id" 
         my-guid="@Guid"
         class="@_renderClasses"
         style="@_renderStyle"
         @attributes="@_renderAttributes">
         @ChildContent
    </div>

</CascadingValue>