@namespace CommonLib.Web.Source.Common.Components.MyCardComponent
@inherits MyCardHeaderBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <h3 id="@_id" 
         my-guid="@Guid"
         class="@_renderClasses"
         style="@_renderStyle"
         @attributes="@_renderAttributes">
         @ChildContent
    </h3>

</CascadingValue>