@namespace CommonLib.Web.Source.Common.Components.MyImageComponent
@using CommonLib.Source.Common.Extensions
@inherits MyImageBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">
    
    <div class="@_renderClasses" style="@_renderStyle" @attributes="@_renderAttributes" original-height="@_originalHeight" original-width="@_originalWidth" expected-width="@_expectedWidth">
    </div>

</CascadingValue>